:root {
    --margin-left: 100px;
}

html, body {
    overflow-y: hidden; 
    height: 100vh;
}

@media only screen and (max-width: 900px) {
    :root {
        --margin-left: 0px;
    }

    body {
        background: #ecebeb;
        background-color: black;
        display: grid;
        place-content: center;
    }
}

* {  
    margin: 0;
    padding: 0;
}

body {
    background: #ecebeb;
    height: 100vh;
    background-color: black;
    margin-left: var(--margin-left);
}

#canvas {
    background: black;
}

.contenedor-cuadricula {
    display: grid;
    grid-template-columns: repeat(14, 1fr);
    grid-template-rows: repeat(21, 1fr);
    width: 100%;
    height: 100%;
}

.cuadricula {
    border: 1px solid #f8f8f883;
}

.pieza {
    position: absolute;
    border: none;
}

.pixel-invisible {
    background: none;
    border: none;
}

.fila-pieza {
    display: inline-block;
}